<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>杰陈交规·你的驾考伴侣</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="css/jquery.gritter.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'/>
    <script type="text/javascript">
        function gotohtml(e) {
            $(".active").removeClass();
            $("#centerDisplay").attr("src",e.id);
        }
    </script>
</head>
<body  style="overflow:-Scroll;overflow-y:hidden">
<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">欢迎进入杰陈交规系统</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="menuMessages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">用户</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li id="restartPassword" onclick="gotohtml(this)"><a href="#"><i class="icon-pencil"></i>修改密码</a></li>
        <li class="divider"></li>
        <li id="myStore" onclick="gotohtml(this)"><a href="#"><i class="icon-star"></i>我的收藏</a></li>
        <li class="divider"></li>
        <li id="myQuestion" onclick="gotohtml(this)"><a href="#"><i class="icon-folder-open"></i>我的错题</a></li>
      </ul>
    </li>
     <li class="dropdown" id="menuTest"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon icon-cog"></i> <span class="text"> 答题广场 </span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li id="demoTest" onclick="gotohtml(this)"><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 模拟考试</a></li>
        <li class="divider"></li>
        <li id="randomTest" onclick="gotohtml(this)"><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 随机答题</a></li>
      </ul>
    </li>
   <li class="dropdown" id="menuAdmin"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon icon-cog"></i> <span class="text"> 系统管理 </span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li id="userAdmin" onclick="gotohtml(this)"><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 用户管理</a></li>
        <li class="divider"></li>
        <li id="topicAdmin" onclick="gotohtml(this)"><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 题库管理</a></li>
      </ul>
    </li>
   
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">登出</span></a></li> 
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="搜索点什么..."/>
  <button type="submit" class="tip-bottom" title="搜索"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> 更多功能</a>
 
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
<!--  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="学员中心" class="tip-bottom">学员中心</a></div>
  </div>-->
<!--End-breadcrumbs-->
<iframe id="centerDisplay" src="studentCenter" width="100%" height="600" >
  <a href="studentCenter.html">你的浏览器不支持iframe页面嵌套，请点击这里访问页面内容。</a>
</iframe>

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12"> 2017 &copy; Zhang Yaoyao Brought to you  </div>
</div>
</div>
<!--end-Footer-part-->

<script src="js/excanvas.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flot.min.js"></script> 
<script src="js/jquery.flot.resize.min.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/fullcalendar.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.dashboard.js"></script> 
<script src="js/jquery.gritter.min.js"></script> 
<script src="js/matrix.interface.js"></script> 
<script src="js/matrix.chat.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/matrix.form_validation.js"></script> 
<script src="js/jquery.wizard.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.popover.js"></script> 
<script src="js/jquery.dataTables.min.js"></script> 
<script src="js/matrix.tables.js"></script>
</body>
</html>
