.mainNav {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background: #fff;
}

.mainNav p {
    margin: 0;
    padding: 5px 10px 0px;
    font-size: 28px;
}

.mainNav p span {
    padding: 0 10px;
    font-size: 26px;
    font-family: "微软雅黑 Light";
}

.mainNav p span:first-child {
    border-right: 1px solid #0f0f0f;
    color: #3da9d1;
}

.center {
    width: 100%;
    height: 100%;
    background-color: #53b3d1;
}

.center img {
    width: 100%;
    height: 560px;
}

.link-center {
    padding: 10px 10px 20px 5px;
    float: left;
}