html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-logo {
    float: left;
    flex-grow: 0;
    flex-shrink: 1;
    height: 80px;
    width: 200px;
}

.nav-title {
    float: left;
    flex-grow: 3;
    flex-shrink: 1;
    padding: 0px 200px;
    text-align: justify;
    font-size: 32px;
    color: #0000EE;
}

.nav-title span {
    display: inline-block;
    width: 100%;
}

.nav-box {
    padding-top: 80px;
    box-sizing: border-box;
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-left {
    height: 100%;
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 0 10px 10px 10px;
}

.nav-admin {
    padding: 0 10px 10px 10px;
    height: 100px;
}

.nav-admin img {
    height: 100px;

}

.nav-tag {
    padding: 10px;
}

.nav-label {
    padding: 9px 17px;
    margin: 4px 0 0;
    border-bottom: 1px solid #d7e3f1;
    border-radius: 5px;
}

.nav-set {
    padding: 10px 10px;
}

.nav-center {
    flex-grow: 3;
    flex-shrink: 1;
    min-width: 700px;
    padding: 0 10px 10px 10px;
    border-left: 1px solid #53b3d1;
}

.item {
    margin: 10px 20px;
    line-height: 20px;
}

.nav-img {
    width: 800px;
}

.nav-img img {
    margin: 20px 80px;
    text-align: center;
    height: 200px;
}

.nav-right {
    height: 100%;
    width: 400px;
    flex-grow: 0;
    flex-shrink: 1;

}

th {
    height: 30px;
    width: 30px;
    border: 1px solid black;
}

.nav-right .morebutton {
    margin: 10px;
    width: 250px;
}

.nav-right button {
    margin: 5px 5px;
}

.nav-results p {
    margin: 0 10px;
}

.nav-exit {
    float: right;
    margin: 30px 20px;
}

.btn-group {

}

.btn {
    margin: 0;
    width: 100px;
    height: 40px;
    padding: 5px;
    list-style-type: none;
    border: none;
    font-size: large;
}

.btn-option {
    background-color: #5199d1;
    color: #fff;
}

.btn-option:hover {
    background-color: #3da9d1;
}

.btn-option:active {
    background-color: #457ba7;
}

.btn-next {
    color: #fff;
    background-color: #406da6;
}

.btn-next:hover {
    background-color: #7bc5ee;
}

.btn-next {
    background-color: #447ab7;
}

.mainNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 50px;
    background: #3da9d1;
}

.mainNav p {
    margin: 0;
    padding: 5px 10px 0px;
    font-size: 28px;
}

.mainNav p span {
    padding: 0 10px;
    font-size: 26px;
    font-family: "微软雅黑 Light";
}

.mainNav p span:first-child {
    border-right: 1px solid #0f0f0f;
    color: #fff;
}

.user-right {
    position: absolute;
    top: 9px;
    right: 60px;
}

.user-right:after {
    content: url(../myimage/icon-user.png);
}

.exit-right {
    position: absolute;
    top: 9px;
    right: 15px;
}

.exit-right:after {
    content: url(../myimage/icon-loginOutWhite.png);
}

.question-box {
    padding-bottom: 10px;
    height: 233px;
}

.collect-right {
    float: right;
    width: 50px;
    height: 79px;
    position: relative;
    margin-right: 40px;
    border: 1px solid #e26d6d;
    border-radius: 5px;
}

.collect-btn {
    margin: 0;
    padding: 0;
    list-style-type: none;
    visibility: hidden;
}

.collect-img {
    display: block;
    width: 37px;
    height: 35px;
    position: absolute;
    top: 38px;
    left: 7px;
    background: url(../myimage/icon-starLine.png);
}

.collect-right input[type=checkbox]:checked + .collect-img {
    background: url(../myimage/icon-star.png);
}

.collect-title {
    display: block;
    line-height: 20px;
    font-size: 10px;
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #f86a6a;
    border-radius: 4px;
    background: #e26d6d;
    color: #fff;
}

.answer-box {
    float: left;
    position: absolute;
    top: 360px;
}

.btn-box {
    position: absolute;
    top: 270px;
    float: right;
}

.error {
    background: #cf4c35;
}

.right {
    background: #6fcf35;
}