<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>杰程交规考试模拟</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/zyy-nav.css">
    <link rel="stylesheet" type="text/css" href="css/ext-theme-crisp-all.css"/>
    <script type="text/javascript" src="js/ext-all.js"></script>
    <script type="text/javascript" src="js/ext-theme-crisp.js"></script>
    <script type="text/javascript" src="js/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="js/jq.js"></script>
</head>
<body onload="begin()">
<div class="mainNav">
    <p><span>杰程交规</span><span>您的驾考指南</span></p>
    <div class="user-right"></div>
    <div class="exit-right" onclick="window.history.go(-1);"></div>
</div>
<!--<img class="nav-logo" src="img/logoExam.jpg"/>
<p class="nav-title">杰程交规考试模拟<span></span></p>-->
<div class="nav-box">
    <div class="nav-left">
        <div class="nav-admin"><img src="img/gallery/imgbox4.jpg"></div>
        <div class="nav-tag">
            <p class="nav-label">考生姓名：<span id="name1" th:text="${user.name}"></span></p>
            <p class="nav-label">考试科目：<span id="carexam1" th:text="${carexam}"></span></p>
            <p class="nav-label">考试车型：<span id="cartype1" th:text="${cartype}"></span></p>
            <p class="nav-label">已用时间：</br><span id="_h"></span><span id="_m"></span><span id="_s"></span></p>
        </div>
        <div class="nav-set">
            <div class="nav-tip"><input name="answer-tip" id="answer-tip" type="checkbox" value=""
                                        onchange="answerTip();"/>提示答案
            </div>
            <div class="nav-tip"><input name="answer-show" id="answer-show" type="checkbox" checked="checked"
                                        onchange="showAnswer()"/>显示答案
            </div>
            <div class="nav-tip"><input name="way-tip" id="way-tip" type="checkbox" value="" disabled="true">显示讲解</div>
        </div>
    </div>
    <div class="nav-center">
        <div class="question-box">
            <div class="collect-right">
                <label class="collect-title" for="collect">添加收藏</label>
                <input class="collect-btn" id="collect" name="collect" type="checkbox" onchange="addSubject(this)"/>
                <label class="collect-img" for="collect"></label>
            </div>
            <div class="item item-header">考试-科目</div>
            <div class="item item-title" id="title"></div>
            <div class="item item-option" id="optionA"></div>
            <div class="item item-option" id="optionB"></div>
            <div class="item item-option" id="optionC"></div>
            <div class="item item-option" id="optionD"></div>
        </div>
        <div class="answer-box">
            <div class="nav-true" id="correctanswer">正确答案：<span></span></div>
            <div class="nav-true" id="myanswer">您的答案：<span></span></div>
        </div>
        <div class="btn-box">
            <div class="btn-group">
                <button id="A" class="btn btn-option" onclick="answer(this)">A</button>
                <button id="B" class="btn btn-option" onclick="answer(this)">B</button>
                <button id="C" class="btn btn-option" onclick="answer(this)">C</button>
                <button id="D" class="btn btn-option" onclick="answer(this)">D</button>
                <button class="btn btn-next" onclick="next()">下一题</button>
            </div>
        </div>
    </div>
    <div class="nav-right">
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
        <div class="morebutton">
            <button id="error" name="error" onclick="addSubject(this)">添加错题</button>
        </div>
        <div class="nav-results">
            <p>答对题量：
            <p id="rightSubject"></p></p>
            <p>答错题量：
            <p id="errorSubject"></p></p>
            <p>正确率
            <p id="proportion"></p></p>
        </div>
        <button class="btn btn-submit">交卷</button>
    </div>
</div>
<script type="text/javascript">
    var rightSubject = 0;
    var errorSubject = 0;
    var leftTime = 0;
    var subject;
    var tipAns = false;
    function begin() {
        next();
        countTime();
    }
    function countTime() {
        var d, h, m, s;
        leftTime += 1;
        d = Math.floor(leftTime / 60 / 60 / 24);
        h = Math.floor(leftTime / 60 / 60 % 24);
        m = Math.floor(leftTime / 60 % 60);
        s = Math.floor(leftTime % 60);
        //将倒计时赋值到div中
        document.getElementById("_h").innerHTML = h + "时";
        document.getElementById("_m").innerHTML = m + "分";
        document.getElementById("_s").innerHTML = s + "秒";
        setTimeout(function () {
            countTime()
        }, 1000);
    }
    function next() {

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/randomexam?carexam=" + document.getElementById("carexam1").innerHTML + "&cartype=" + document.getElementById("cartype1").innerHTML,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                subject = data;
                var title = data.content;
                var i1 = data.subjectselect.split(";")[0];
                var i2 = data.subjectselect.split(";")[1];
                var i3 = data.subjectselect.split(";")[2];
                var i4 = data.subjectselect.split(";")[3];
                document.getElementById("title").innerHTML = title;
                if (tipAns === true) {
                    //提示答案
                    if (data.answer === 'A') {
                        document.getElementById("optionA").style = 'background-color=yellow;';
                    }
                }
                document.getElementById("optionA").innerHTML = i1;
                document.getElementById("optionB").innerHTML = i2;
                if (subject.subjecttype === '判断') {
                    document.getElementById("optionC").innerHTML = '';
                    document.getElementById("optionD").innerHTML = '';
                } else {
                    document.getElementById("optionC").innerHTML = i3;
                    document.getElementById("optionD").innerHTML = i4;
                }
                document.getElementById("correctanswer").innerHTML = "正确答案：" + subject.answer;
                document.getElementById("myanswer").innerHTML = "您的答案："
            },
            error: function (e) {
            }
        });
    }
    function answer(e) {
        document.getElementById("myanswer").innerHTML = "您的答案：" + e.id;
        if (subject.answer.equals(e.id)) {
            rightSubject++;
        } else {
            errorSubject++;
        }
        document.getElementById("proportion").innerHTML = rightSubject / (rightSubject + errorSubject) * 100 + '%';
        document.getElementById("rightSubject").innerHTML = rightSubject;
        document.getElementById("errorSubject").innerHTML = errorSubject;
    }
    function addSubject(e) {
        var type = e.name;
        var url;
        if (type === 'collect') {
            if (document.getElementsByName('collect').checked === false) {
                return false;
            } else {
                url = 'addcollectsubject';
                var subjectId = subject.subjectid;
                Ext.Ajax.request({
                    url: url,
                    params: {subjectId: subjectId},
                    method: 'POST',
                    success: function (response) {
                        Ext.MessageBox.alert('结果', response.responseText);
                    },
                    failure: function (response) {
                        Ext.MessageBox.alert('失败', '请求超时或网络故障,错误编号：' + response.status);
                    }
                });
            }
        } else if (type === 'error') {
            url = 'addErrorSubject';
            var subjectId = subject.subjectid;
            Ext.Ajax.request({
                url: url,
                params: {subjectId: subjectId},
                method: 'POST',
                success: function (response) {
                    Ext.MessageBox.alert('结果', response.responseText);
                },
                failure: function (response) {
                    Ext.MessageBox.alert('失败', '请求超时或网络故障,错误编号：' + response.status);
                }
            });
        }
    }
    //提示答案
    function answerTip() {
        tipAns = document.getElementById('answer-tip').value;
    }
    //显示答案
    function showAnswer() {
        document.getElementById('correctanswer').style = document.getElementById('answer-show').checked ? 'display:block' : 'display: none;';
    }
</script>
</body>
</html>