<!DOCTYPE html>
<html>
<head>
    <title>题库管理界面</title>
    <META http-equiv=Content-Type content="text/html; charset=utf-8"/>
    <meta http-equiv="expires" content="0"/>
    <link rel="stylesheet" type="text/css" href="css/ext-theme-crisp-all.css"/>
    <script type="text/javascript" src="js/ext-all.js"></script>
    <script type="text/javascript" src="js/ext-theme-crisp.js"></script>
    <script type="text/javascript" src="js/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="js/jq.js"></script>
    <script type="text/javascript">
        Ext.onReady(function () {
            var vs = Ext.getBody().getViewSize();
            var itemsPerPage = 15;
            var search = 'all';
            var gridStore = Ext.create('Ext.data.Store', {
                id: 'gridStore',
                autoLoad: false,
                fields: ['content', 'info', 'subjecttype', 'subjectselect', 'answer', 'grade', 'carexam', 'cartype'],
                pageSize: itemsPerPage, // items per page
                proxy: {
                    type: 'ajax',
                    url: '/user/getAllMyCollect?search=' + search,
                    reader: {
                        type: 'json',
                        rootProperty: 'infos',
                        totalProperty: 'total'
                    }
                }
            });
            gridStore.load();
            var grid = new Ext.grid.Panel({
                title: '当前题目',
                store: 'gridStore',
                columns: [//表格中的列
                    {text: '内容', dataIndex: 'content'},
                    {text: '提示', dataIndex: 'info'},
                    {text: '类型', width: '5%', dataIndex: 'subjecttype'},
                    {text: '选项', dataIndex: 'subjectselect'},
                    {text: '答案', width: '5%', dataIndex: 'answer'},
                    {text: '分值', width: '5%', dataIndex: 'grade'},
                    {text: '驾考科目', dataIndex: 'carexam'},
                    {text: '驾考类型', dataIndex: 'cartype'}
                ],
                selModel: Ext.create("Ext.selection.CheckboxModel", {
                    mode: "multi",//multi,simple,single；默认为多选multi
                    checkOnly: true,//如果值为true，则只用点击checkbox列才能选中此条记录
                    allowDeselect: true,//如果值true，并且mode值为单选（single）时，可以通过点击checkbox取消对其的选择
                    enableKeyNav: true
                }),
                width: vs.width,
                height: vs.height - 150,
                dockedItems: [{
                    xtype: 'pagingtoolbar',
                    store: 'gridStore', // same store GridPanel is using
                    dock: 'bottom',
                    style: 'padding-right:20px;',
                    displayInfo: true
                }],
                renderTo: Ext.getBody()
            });
            var fm = new Ext.FormPanel(
                    {
                        frame: true,
                        width: vs.width,
                        autoHeight: true,
                        labelWidth: 70,
                        layout: 'column',
                        items: [{
                            layout: 'form',
                            items: [{
                                layout: 'form',
                                items: [{
                                    xtype: 'textfield',
                                    fieldLabel: '题目',
                                    width: 500,
                                    id: 'subject_name',
                                    name: 'subject_name',
                                    emptyText: '题目内容'
                                }]
                            }]
                        }, {
                            layout: 'form',
                            items: [{
                                text: '查询  ',
                                name: 'select',
                                id: 'select',
                                xtype: 'button',
                                handler: function () {
                                    search = Ext.getCmp('subject_name').getValue();
                                    gridStore.getProxy().url = '/user/getAllMyCollect?search=' + search;
                                    gridStore.load();
                                    grid.store.reload();
                                }
                            }]
                        }, {
                            layout: 'form',
                            items: [{
                                text: '删除  ',
                                name: 'delete',
                                id: 'delete',
                                xtype: 'button',
                                handler: function () {
                                    var ids = '';
                                    var grid = win.down("grid");
                                    var records = grid.getSelectionModel().getSelection();
                                    console.log(records);
                                    records.forEach(function (element) {
                                        ids += element.data.subjectid + ',';
                                    });
                                    Ext.Ajax.request({
                                        url: '/user/deleteMyCollect',
                                        params: {
                                            ids: ids
                                        },
                                        method: 'POST',
                                        success: function (response) {
                                            grid.store.reload();
                                            Ext.MessageBox.alert('结果', response.responseText);
                                        },
                                        failure: function (response) {
                                            Ext.MessageBox.alert('失败', '请求超时或网络故障,错误编号：' + response.status);
                                        }
                                    });
                                }
                            }]
                        }, {
                            items: [grid]
                        }]
                    });
            var win = new Ext.Window({
                closable: false,
                closeAction: 'hide',
                modal: true,
                title: "收藏管理",
                items: fm
            });
            win.setSize(vs.width, vs.height);
            win.show();
        });

    </script>
</head>
<body>
</body>
</html>