<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" href="css/zyy-nav.css">
    <link rel="stylesheet" type="text/css" href="css/ext-theme-crisp-all.css" />
    <script type="text/javascript" src="js/ext-all.js"></script>
    <script type="text/javascript" src="js/ext-theme-crisp.js"></script>
    <script type="text/javascript" src="js/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="js/jq.js"></script>
<head>
	<title>测试界面</title>
</head>
<body>
<button class="btn" onclick="next()">下一题</button>
<p th:text="${message}">1234</p>
<script type="text/javascript">
    function next() {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/testbutton",
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                console.log(data);
            },
            error: function (e) {
                console.log("456");
            }
        });
    }
</script>
</body>
</html>