<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.JieCheng.dao.mapping.SubjectMapper">
    <!--根据id查询用户详情-->
    <insert id="addSubject" parameterType="com.JieCheng.dao.model.Subject">
    insert into subject set content=#{content},info=#{info},subjecttype=#{type},
    subjectselect=#{select},answer=#{answer},grade=#{grade},carexam=#{carexam},cartype=#{cartype},
    url=#{url},createtime=str_to_date(#{time}, '%Y-%m-%d %H'),createuserid=#{userId}
  </insert>

    <insert id="addCollectSubject" parameterType="int">
    insert into user_collect values(#{userId},#{subjectId})
  </insert>

    <insert id="addErrorSubject" parameterType="int">
    insert into user_error values(#{userId},#{subjectId})
  </insert>

    <select id="selectRandomSubject" parameterType="string" resultType="com.JieCheng.dao.model.Subject">
    SELECT *
    FROM subject AS t1 JOIN (SELECT ROUND(RAND() * (SELECT MAX(subjectid) FROM subject)) AS id) AS t2
    WHERE t1.subjectid >= t2.id AND carexam=#{carexam} AND cartype=#{cartype} LIMIT 1
  </select>
    <select id="getAllSubjectInfo" resultType="com.JieCheng.dao.model.Subject">
        SELECT
        subjectid,content,info,subjecttype,subjectselect,answer,grade,
        (CASE carexam WHEN '1' THEN '科目一'WHEN '2' THEN '科目二' WHEN '3' THEN '科目三'WHEN '4' THEN '科目四' END)carexam ,
        cartype
        FROM
        subject
        <where>
            <if test="search!=null and search!=''">
                content like CONCAT('%',#{search},'%')
            </if>
        </where>
    </select>
    <select id="getAllMyError" resultType="com.JieCheng.dao.model.Subject">
        SELECT
        a.subjectid,a.content,a.info,a.subjecttype,a.subjectselect,a.answer,a.grade,
        (CASE a.carexam WHEN '1' THEN '科目一'WHEN '2' THEN '科目二' WHEN '3' THEN '科目三'WHEN '4' THEN '科目四' END)carexam ,
        cartype
        FROM
        subject a,user_error b
        WHERE
        b.userid=#{userId} AND b.subjectid=a.subjectid
        <if test="search!=null and search!=''">
            AND a.content like CONCAT('%',#{search},'%')
        </if>
    </select>
    <select id="getAllMyCollect"  resultType="com.JieCheng.dao.model.Subject">
        SELECT
        a.subjectid,a.content,a.info,a.subjecttype,a.subjectselect,a.answer,a.grade,
        (CASE a.carexam WHEN '1' THEN '科目一'WHEN '2' THEN '科目二' WHEN '3' THEN '科目三'WHEN '4' THEN '科目四' END)carexam ,
        cartype
        FROM
        subject a,user_collect b
        WHERE
        b.userid=#{userId} AND b.subjectid=a.subjectid
        <if test="search!=null and search!=''">
            AND a.content like CONCAT('%',#{search},'%')
        </if>
    </select>
    <delete id="deleteSubjects">
        DELETE FROM
        subject
        WHERE
        subjectid
        IN
        <foreach collection="Id" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteMyError">
        DELETE FROM
        user_error
        WHERE
        userid=#{userId}
        AND
        subjectid
        IN
        <foreach collection="Id" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteMyCollect">
        DELETE FROM
        user_collect
        WHERE
        userid=#{userId}
        AND
        subjectid
        IN
        <foreach collection="Id" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>